/* #region tags */

body
{
    margin: 0;
}

div
{
    font-family: 'Alata';
}

span 
{
    display: block;
    margin-top:0.5%;
}

h1,h2,h3,p
{
    animation: fadeIn 1.5s;
}

h1
{
    font-weight: normal;
    font-size: 42pt;
}

h2
{
    font-weight: normal;
    font-size: 24pt;
}

h3
{
    margin-top: -5%;
    font-weight: normal;
    font-size: 18pt;
    color:rgb(224, 224, 224); 
}

h4
{
    font-size: 18pt;
    font-weight: 600;
    margin-bottom: 5%;
}

p
{
    display: inline;
    font-size: 14pt;
    margin-left: 2%;
    color: white;
}

a
{
    text-decoration: none;
    color: white;
}

/* #endregion */

/* #region classes */

div.container
{
    padding-top: 8vh;
    padding-left: 39%;
    width: 61%;
    height: 92vh;
    background-color: white;
}

div.panel
{
    padding-left: 7vh;
    padding-right: 5vh;
    padding-top: 25vh;
    padding-bottom: 10vh;
    position: absolute; 
    top: 0; 
    left: 0;
    width: 25vw;
    height: 65vh;
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("../pics/wall.jpg");
    background-size: cover;
    box-shadow: 0px 0px 3px #000000;
    color: white;
}

div.works
{
    width: 80%;
    color: black;
    font-family: 'Inter';
    animation: fadeIn 1.5s;
}

div.contentL, div.contentR
{
    color: black;
    width:20vw;
    height:20vh;
    padding: 3%;
    padding-top: 0;
    margin: 2%;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 3%;
    
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    transition: 0.7s;
}

div.contentL
{
    float: left;
    margin-left: 0;
    margin-right: 2%;
   
}

div.contentR
{
    float: right;
    margin-left: 0%;
    margin-right: 0%;
}

div.lockedInside
{   
    color: white;
    background: url("../pics/lockedinside.png");
    background-size: cover;
}

span.nav
{
    animation: fadeIn 1s;
    margin-top:10%;
    font-size: 16pt;
}

span.stats
{
    margin-top: 12%;
    margin-bottom: 3% !important;
}

img.pfp
{
    animation: fadeIn 1s;
    width: 35%;
    border-radius: 5%;
}

a.nav
{
    margin-right: 4%;
}

p.content
{
    margin-right: 2%;
    margin-left: 0;
    margin-top: 20%;
    color: black;
}


/* #endregion */

/* #region events */

a:hover
{
    text-decoration: underline;
}

div.contentL:hover, div.contentR:hover
{
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.100);
}

div.lockedInside:hover
{
    filter: brightness(1.25);
}

/* #endregion */

/* #region animations */

@keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* #endregion */

/* #region media*/
@media (orientation: portrait)
{
    body
    {
        background-color: #000000;
    }

    div.works
    {
        display: none;
    }

    div.panel
    {
        padding-left: 7vh;
        padding-right: 5vh;
        padding-top: 15vh;
        padding-bottom: 10vh;
        position: absolute; 
        top: 0; 
        left: 0;
        width: 85vw;
        height: 85%;
    }
    
    div.container
    {
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000000;
    }
    
    img.pfp
    {
        width: 45%;
    }

    h1
    {
        font-size: 72pt;
    }

    h2
    {
        font-size: 63pt;
    }

    h3
    {
        font-size: 54pt;
    }

    p,a,i
    {
        font-size: 32pt;
    }

    a.nav
    {
        font-size: 54pt;
        margin-right: 9%;
    }
}

/* #endregion */

::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background:transparent;
}

::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b70;
    border-radius: 8px;
}